<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

{% include 'space/space_navbar.html' %}

<html>
  <div class="col mx-auto">
    <div class="card mx-auto" style="width: auto;">
        <img src={{space.spaceImage.url}} class="rounded float-left" alt="..." style="width: 200px">
        <div class="card-body">
        <h5 class="card-title">{{space.name}}</h5>
        <p class="card-text">{{space.description}}</p>
        </div>
    </div>
  </div>
  
  <div class="row">
    <ul class="list-group list-group-flush">
      {% for element in learningMaterials %}
      <a href="" class="list-group-item list-group-item-action">{{element}}</a>
      {% endfor %}
    </ul>
    </div>
  <div class="mt-5">
    <a class="btn btn-success btn-sm" aria-current="page" href="/space/{{space.id}}/upload">Upload a material</a>
  </div>

</html>