<!DOCTYPE html>
<html>
    <head>
        <title>
            HomePage
        </title>
    </head>
    <body>
        <header>
            <h1><a href="/">Serdar Tries Django</a></h1>
        </header>

        <article>
            <time>published: 13.03.2022, 20:30</time>
            <h2><a href="">What I do</a></h2>
            <p>I am trying to build a web application right now</p>
        </article>

        <article>
            <time>published: 13.03.2022, 20:31</time>
            <h2><a href="">Status</a></h2>
            <p>Let's see where it goes</p>
            </article>
    </body>
</html>