<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

{% include 'navbar.html' %}
<html>
    <body>
        <h6>Welcome to LearnCommune</h6>
        <h3>Learning Spaces</h3>
        <div class="container-fluid">
            <div class="row">
                {% for item in spaces %}
                <div class="col mx-auto">
                    <div class="card mx-auto" style="width: 18rem;">
                        <img src={{item.spaceImage.url}} class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <a href="/space/{{item.id}}" class="btn btn-primary">Go to Learning Space</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>